<aside class="sidebar">
    <a href="{{logo.link}}" class="logo-container">
        <img src="{{logo.src}}" alt="Logo admin" class="logo-admin">
    </a>
    <hr class="divider">
    <section>
        <ul class="menu-items">
            <li><a href="{{menu.links.posts}}" class="link-white">My posts</a></li>
            <li><a href="{{menu.links.profile}}" class="link-white">My profile</a></li>
        </ul>
    </section>
    <hr class="divider">
    <section>
        <ul class="menu-items">
            <li><a href="{{menu.links.home}}" class="link-white">To website</a></li>
            <li><a href="{{menu.links.logout}}" class="link-white">Sign out</a></li>
        </ul>
    </section>
</aside>