<!doctype html>
<html lang="{{app.lang}}">
{{>components/common/head}}
<body class="body-admin">
{{#admin}}
    {{#menu}}
        {{>admin/common/mobile-menu}}
    {{/menu}}
    <div class="admin-layout">
        {{#menu}}
            {{>admin/common/menu}}
        {{/menu}}
        <main>
            {{#header}}
                {{>admin/common/header}}
            {{/header}}
            {{#body}}
                <div class="admin-body">
                    <form id="profile-form" class="profile" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="user-info">
                                <label for="user_id">
                                    <input id="user_id" name="id" type="text" value="{{info.id}}" hidden>
                                </label>
                                <span>Position: {{info.position}}</span>
                                <span>Username: {{info.username}}</span>
                                <span>Email: {{info.email}}</span>
                                <label for="first_name" class="input-container">
                                    <input id="first_name"
                                           name="first_name"
                                           type="text"
                                           value="{{info.first_name}}"
                                           readonly>
                                    <img id="edit-first-name" class="edit-icon" src="{{images.edit.src}}" alt="edit">
                                </label>
                                <label for="last_name" class="input-container">
                                    <input id="last_name"
                                           name="last_name"
                                           type="text"
                                           value="{{info.last_name}}"
                                           readonly>
                                    <img id="edit-last-name"
                                         class="edit-icon"
                                         src="{{images.edit.src}}"
                                         alt="edit">
                                </label>
                            </div>
                            <div class="avatar-container">
                                <div>
                                    <img src="{{info.avatar.src}}" alt="avatar" id="avatar">
                                    <label for="avatar-file">
                                        <img src="{{images.edit.src}}" alt="edit" class="edit-icon">
                                        <input type="file" id="avatar-file" name="avatar" hidden>
                                    </label>
                                </div>
                                <span id="avatar-file_name">{{info.avatar.file_name}}</span>
                            </div>
                        </div>
                        <button id="submitter">Sava changes</button>
                    </form>
                </div>
            {{/body}}
        </main>
    </div>
    <div class="messages-container"></div>
    {{#scripts}}
        <script src="{{src}}" type="module"></script>
    {{/scripts}}
{{/admin}}
</body>
</html>