<!doctype html>
<html lang="{{app.lang}}">
{{>components/common/head}}
<body class="body-admin">
{{#admin}}
    {{#menu}}
        {{>admin/common/mobile-menu}}
    {{/menu}}
    <div class="admin-layout">
        {{#menu}}
            {{>admin/common/menu}}
        {{/menu}}
        <main>
            {{#header}}
                {{>admin/common/header}}
            {{/header}}
            {{#body}}
                <div class="admin-body">
                    <div class="profile">
                        <div class="row">
                            <div class="user-info">
                                <span>Position: {{info.position}}</span>
                                <span>Username: {{info.username}}</span>
                                <span>Email: {{info.email}}</span>
                                <label for="first_name" class="input-container">
                                    <input id="first_name"
                                           type="text"
                                           value="{{info.first_name}}"
                                           data-user-id="{{info.id}}"
                                           readonly>
                                    <img id="edit-first-name" class="edit-icon" src="{{images.edit.src}}" alt="edit">
                                </label>
                                <label for="last_name" class="input-container">
                                    <input id="last_name"
                                           type="text"
                                           value="{{info.last_name}}"
                                           data-user-id="{{info.id}}"
                                           readonly>
                                    <img id="edit-last-name"
                                         class="edit-icon"
                                         src="{{images.edit.src}}"
                                         alt="edit">
                                </label>
                            </div>
                            <form method="post" id="avatar-form">
                                <div class="avatar-container">
                                    <img src="{{info.avatar.src}}" alt="avatar" id="avatar">
                                    <label for="avatar-file">
                                        <img src="{{images.edit.src}}" alt="edit" class="edit-icon">
                                        <input type="file" id="avatar-file" hidden>
                                    </label>
                                </div>
                                <span id="avatar-file_name">{{info.avatar.file_name}}</span>
                            </form>
                        </div>
                    </div>
                </div>
            {{/body}}
        </main>
    </div>
    <div class="messages-container"></div>
    {{#scripts}}
        <script src="{{src}}" type="module"></script>
    {{/scripts}}
{{/admin}}
</body>
</html>