<!DOCTYPE html>
<html lang="{{app.lang}}">
{{>components/common/head}}
<body class="body-main bg-primary">
<noscript>Available javascript to use this application</noscript>
{{>components/common/header}}
<main class="content">
    <div class="posts container center">
        {{#articles.items}}
            {{>components/articles/article}}
        {{/articles.items}}
        {{^articles.items}}
            {{>components/articles/not_found}}
        {{/articles.items}}
    </div>
    <div class="pagination container center">
        {{#articles.pagination}}
            {{>components/common/pagination}}
        {{/articles.pagination}}
    </div>
</main>
{{>components/common/footer}}
</body>
</html>