<?php
use app\app\core\Application;
?>
<!doctype html>
<html lang="en">
<?php require_once "components/common/head.php"; ?>
<body class="main-body">
<?php require_once "components/common/header.php"; ?>
<article class="profile center">
    <h1>Test</h1>
</article>
<?php require_once "components/common/footer.php"?>
</body>
</html>