<?php
use app\app\core\Application;
use app\app\core\Router;

$router = Application::getRouter();
?>
<!doctype html>
<html lang="en">
<?php require_once "components/common/head.php"; ?>
<body class="main-body">
<?php require_once "components/common/header.php"; ?>
<?php if(isset($post)): ?>
<article class="single post" id="post-<?= $post->getId(); ?>">
    <section class="post-header">
        <?php
        $user_link = Router::link("/users/" . $post->getUser()->getId(), $router->getPrefix())
        ?>
        <a href="<?= $user_link ?>">
            <img
                src="<?= Router::link("static/users/avatar1.ico", $router->getPrefix()); ?>"
                alt="User icon"
                class="user-avatar"
            >
        </a>
        <div>
            <a href="<?= $user_link ?>" class="link-white"><?= $post->getUser()->getFirstName(); ?></a>
            <span class="post-date"><?= "19.11.2023" ?></span>
        </div>
    </section>
    <section class="post-body">
        <?php $post_url = Router::link("/articles/" . $post->getId(), $router->getPrefix()); ?>
        <h1 class="post-title">
            <a
                href="<?= $post_url; ?>"
                class="link-white">
                <?= $post->getTitle(); ?>
            </a>
        </h1>
        <div class="post-content">
            <?= $post->getContent(); ?>
        </div>
    </section>
    <section class="post-footer">
        <div
            class="post-footer-option"
            data-post-id="<?= $post->getId(); ?>"
            data-action="like"
        >
            <img class="option-img" src="<?= Router::link("assets/images/like.svg", $router->getPrefix()); ?>" alt="like">
            <span><?= $post->getRating() ?? 0; ?></span>
        </div>
        <div
            class="post-footer-option"
            data-post-id="<?= $post->getId(); ?>"
            data-action="save"
        >
            <img class="option-img" src="<?= Router::link("assets/images/save.svg", $router->getPrefix()); ?>" alt="save">
            <span><?= $post->getCountSaved() ?? 0; ?></span>
        </div>
    </section>
</article>
<?php else: ?>
<div style="color: white">Post not found</div>
<?php endif; ?>
</body>
</html>