<header class="layout-header">
    <a
        class="logo-container"
        href="{{header.link_to_website}}"
    >
        <img
            class="logo"
            src="{{header.logo}}"
            alt="Logo image"
        >
    </a>
    {{> components/common/nav}}
    {{# authorized }}
        <div class="header-account">
            <a href="/admin" class="link-white">Account</a>
        </div>
    {{/authorized}}
    {{^authorized}}
        <div class="header-account">
            <a href="/signup" class="primary-btn">Sign up</a>
            <a href="/login" class="secondary-btn">Login</a>
        </div>
    {{/authorized}}
</header>