{{#header}}
    <header class="layout-header">
        {{#logo}}
            <a class="logo-container" href="{{link}}">
                <img class="logo" src="{{image}}" alt="Logo image">
            </a>
        {{/logo}}
        {{>components/common/nav}}
        {{#auth.authorized}}
            <div class="header-account">
                <a href="{{admin_link}}" class="link-white">Account</a>
            </div>
        {{/auth.authorized}}
        {{#auth.unauthorized}}
            <div class="header-account">
                <a href="{{signup_link}}" class="primary-btn">Sign up</a>
                <a href="{{login_link}}" class="secondary-btn">Login</a>
            </div>
        {{/auth.unauthorized}}
    </header>
{{/header}}