<nav class="categories">
    {{#header.nav.items}}
        <a
            href="{{link}}"
            class="category-link link-white {{#current}}current{{/current}}"
        >
            {{display_name}}
        </a>
    {{/header.nav.items}}
</nav>