{{#nav}}
    <nav class="categories">
        {{#items}}
            <a
                    href="{{link}}"
                    class="category-link link-white {{#current}}current{{/current}}"
            >{{display_name}}</a>
        {{/items}}
    </nav>
{{/nav}}