<div class="widget-profile">
    <ul class="info">
        <li>Role: <span class="role">{{role}}</span></li>
        <li>Username: <span class="username">{{username}}</span></li>
        <li>Full name: <span class="full-name">{{full_name}}</span></li>
        <li>Signup date: <span class="signup-date">{{signup_date}}</span></li>
    </ul>
    <img src="{{avatar}}" alt="{{username}}">
</div>