.layout-header {
    width: 100%;
    max-width: 1000px;
    min-height: 64px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
}

.logo-container{
    display: flex;
    align-items: center;
    flex-grow: 0;
    width: min-content;
    height: min-content;
}

.categories {
    flex-grow: 4;
    display: flex;
    gap: 20px;
}

.category-link.current {
    color: #c9604d;
}

.header-account {
    flex-grow: 0;
    display: flex;
    gap: 10px;
}