.layout-container{
    padding-top: 20px;
    max-width: var(--max-width);
    display: flex;
    gap: 20px;
}

.layout-container .widgets {
    max-width: var(--sidebar-width, 200px);
    min-width: var(--sidebar-width, 200px);
}

.layout-container .profile-content {
    flex-basis: calc(100% - var(--sidebar-width, 200px));
}

@media screen and (max-width: 768px) {
    .layout-container .profile-content {
        flex-basis: calc(100% - 200px);
    }
    .layout-container .widgets {
        max-width: 200px;
        min-width: 200px;
    }
}

@media screen and (max-width: 425px) {
    .layout-container .profile-content {
        flex-basis: 100%;
    }
    .layout-container .widgets {
        display: none;
    }
}