.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: var(--secondary-color);
    box-shadow: #0000003F 0 0 10px 0;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 8px;
}
.post-header>div {
    display: flex;
    flex-direction: column;
}

.post-date {
    font-size: small;
    color: #ccc;
}

.user-avatar {
    max-height: 28px;
}
.post-body {
    display: flex;
    flex-direction: column;
}
.post-title {
    color: white;
    margin-bottom: 5px;
}

.post-short-content {
    color: #dddddd;
    margin-left: 10px;
}

.post-content {
    color: #cccccc;
}

.post-footer {
    display: flex;
}

.post-footer .option-img {
    max-height: 16px;
    margin-right: 8px;
}

.post-footer-option {
    color: white;
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.post-footer-icon {
    margin-left: 10px;
}
.post-footer-icon>img {
    max-height: 14px;
}
.post-footer-icon>span {
    margin-left: 10px;
    color: #dddddd;
}

.post-not-found {
    color: white;
}