.widget-body .profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.widget-body .profile img {
    min-width: 64px;
    max-width: 64px;
}

.widget-body .profile-info {
    color: var(--white-color);
}

.widget-body .profile-info .role {
    color: #9ddc6c;
}