@import "header.css";
@import "post.css";
@import "auth/error.css";
@import "auth/auth.css";
@import "single.css";
@import "widgets/widget-profile.css";
@import "pagination.css";
@import "footer.css";
@import "layout.css";
@import "widget.css";
@import "admin/layout.css";
@import "admin/profile.css";
@import "admin/edit.css";
/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');*/
/* Reset css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    /*font-family: 'Inter', 'sans-serif';*/
    font-family: 'Calibri', 'sans-serif';
    box-sizing: border-box;
    list-style-type: none;
    --primary-color: #34073D;
    --secondary-color: #380C41;
    --third-color: #EF745C;
    --third-color__hover: #EF745C;
    --white-color: #e0e0e0;
    --max-width: 1000px;
    --sidebar-width: 300px;
    --sidebar-admin-width: 150px;
}

.body-main {
    padding-left: 20px;
    padding-right: 20px;
}

.body-admin {
    padding-left: 0;
    padding-right: 0;
}

/* Wrappers */

.content-wrapper {
    border-radius: 10px;
    padding: 20px;
    background-color: var(--secondary-color);
    box-shadow: #0000003F 0 0 10px 0;
}

/* Containers */
.container {
    max-width: var(--max-width);
}

.auth-container {
    --padding: 20px;
    max-width: calc(350px + var(--padding));
    padding: 0 var(--padding);
}

.content {
    padding-top: 20px;
}

.admin-body {
    padding: 30px;
}

.messages-container {
    position: absolute;
    z-index: 999;
    right: 0;
    bottom: 0;
    padding: 0 10px;
    padding-bottom: 10px;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.message-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    padding: 15px 20px;
    transition: opacity 1.5s;
}

.message-item.error {
    background-color: #C52B2B;
}

.message-item.success {
    background-color: #66C047;

}

.message-item img {
    max-width: 24px;
}

.message-item span {
    color: var(--white-color);
}

/* Buttons */

.primary-btn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
    border-radius: 10px;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.secondary-btn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid var(--third-color);
    border-radius: 10px;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.link-white {
    text-decoration: none;
    color: white;
    user-select: none;
}

.link-white:hover {
    color: var(--third-color);
}

.link-orange {
    text-decoration: none;
    color: var(--third-color);
    user-select: none;
}

.link-orange:hover {
    color: #c9604d;
}

/* ==================== */
.logo {
    max-height: 30px;
    user-select: none;
}

/* ==================== */
.center {
    margin-left: auto;
    margin-right: auto;
}

.full-size {
    height: 100%;
    min-height: 100vh;
}

.bg-primary {
    background-color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color)
}

.bg-gradient {
    background: linear-gradient(220deg, #EF745C 0%, #98414E 40%, #34073D 100%) no-repeat;
}

@media print {
    .header-account {
        display: none;
    }
}