<form
        class="auth-form secondary-bg"
        id="login_form"
        method="post"
>
    <img
            class="logo"
            src="{{logo.link}}"
            alt="logo"
    >
    <fieldset>
        <label for="login-form-email" class="auth-form-input">
            <img src="{{images.email}}" alt="email">
            <input
                    id="login-form-email"
                    type="email"
                    name="email"
                    placeholder="email"
            >
        </label>
        <label for="login-form-password" class="auth-form-input">
            <img src="{{images.password}}" alt="password">
            <input
                    id="login-form-password"
                    type="password"
                    name="password"
                    placeholder="password"
            >
        </label>
    </fieldset>
    <div class="auth-form-section">
        <button class="primary-btn" type="submit">Login</button>
        <span class="extra-action">
            <a
                    href="{{links.signup}}"
                    class="link-orange"
            >Sign up</a>&nbsp;if you don't have an account yet</span>
    </div>
</form>