<form class="auth-form secondary-bg" method="post" id="logout_form">
    <img class="logo" src="{{logo.link}}" alt="logo">
    <p class="auth-info">Do you really want to log out?</p>
    <div class="auth-form-section">
        <button
            id="auth_logout"
            class="secondary-btn"
        >Yes</button>
        <a
            type="submit"
            class="primary-btn"
            href="{{links.home}}"
        >No</a>
    </div>
</form>