<form class="auth-form center secondary-bg" id="logout_form" method="post">
    <img class="logo" src="{{logo.link}}" alt="logo">
    <p class="auth-info">Already logged in as: <b>{{user.email}}</b></p>
    <div class="auth-form-section">
        <a
                class="primary-btn"
                href="{{continue.link}}"
        >Continue</a>
        <button
                id="auth_logout"
                class="secondary-btn"
        >Log out
        </button>
    </div>
</form>